<template>
    <div class="w-full block">
        <label v-if="label" :for="name" class="w-full block text-sm leading-5 text-gray-500 font-semibold">
            {{ label }}
        </label>

        <div class="mt-1">
            <div class="relative flex items-center">
                <div class="absolute inset-y-0 left-0 pl-3 pointer-events-none">
                    <slot name="before" />
                </div>

                <input
                    :id="name"
                    :type="type"
                    :name="name"
                    :class="{ 'border-red-500': hasError }"
                    :disabled="disabled"
                    :placeholder="placeholder"
                    class="px-3 flex-1 w-full py-2 outline-none shadow-sm focus:shadow focus:border rounded border block border-gray-400"
                    v-model="modelValue"
                />

                <slot name="after" />
            </div>

            <p v-if="hasError" class="text-sm italic text-red-500">{{ error }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'artifice-input',

        props: {
            label: {
                type: String,
                default: null,
            },
            type: {
                type: String,
                default: 'text',
            },
            name: {
                type: String,
                default: null,
            },
            hasError: {
                type: String,
                default: null,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            placeholder: {
                type: String,
                default: null,
            },
            currentValue: {
                type: String,
                default: null,
            },
        },

        data() {
            return {
                modelValue: this.currentValue,
            };
        },

        watch: {
            modelValue(newValue) {
                this.$emit('input', newValue);
            },
        }
    }
</script>
