<template>
    <div
        class="fixed z-30 inset-0 overflow-y-auto transition-all"
        :class="[isOpen ? 'visible' : 'invisible ease-in duration-100']"
    >
        <div
            class="fixed inset-0 bg-gray-500 dark:bg-gray-600 transition-opacity"
            :class="[isOpen ? 'ease-out duration-200 opacity-75' : 'ease-in duration-100 opacity-0']"
            @click.self="onOverlay()"
        />
        <div class="flex items-end sm:items-center justify-center min-h-full p-2 sm:p-6">
            <div
                class="relative inline-block bg-white dark:bg-gray-900 rounded-lg overflow-hidden shadow-xl transform transition-all p-4 sm:p-6 w-full sm:max-w-lg"
                :class="[isOpen ? 'ease-out duration-500 opacity-100 translate-y-0 sm:scale-100' : 'ease-in duration-200 opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95']"
                role="dialog"
                aria-modal="true"
                aria-labelledby="modal-headline"
            >
                <button
                    v-if="isDismissed"
                    class="absolute top-4 right-4 h-6 w-6 rounded-full bg-gray-100 dark:bg-gray-800 hover:bg-gray-200 dark:hover:bg-gray-700 text-gray-700 dark:text-gray-300 transition-colors duration-150 ease-in-out focus:outline-none focus:ring-2 focus:ring-gray-500"
                    aria-label="close"
                    @click="close()"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                </button>

                <slot />
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ArtificeModal',

        props: {
            isDismissible: {
                type: Boolean,
                default: true,
            },
            isDismissed: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                isOpen: false
            };
        },

        methods: {
            close() {
                this.isOpen = false;
                this.$emit('close');
            },
            onOverlay() {
                if (! this.isDismissible) {
                    return;
                }

                this.close();
            },
            onKeydown(event) {
                if (event.keyCode === 27 && this.isOpen) {
                    this.close();
                }
            },
            open() {
                this.isOpen = true;
                this.$emit('open');
            },
            toggle() {
                this.isOpen = !this.isOpen;
                this.$emit('toggle', this.isOpen);
            },
        },

        beforeMount() {
            document.addEventListener('keydown', this.onKeydown);
        },

        beforeDestroy() {
            document.removeEventListener('keydown', this.onKeydown);
        },
    };
</script>
