<template>
    <div class="w-full">
        <slot>
            <div class="relative block w-full mb-6">
                <label v-if="label" class="text-sm w-full text-gray-600">{{ label }}</label>

                <div class="flex w-full items-center">
                    <button
                        type="button"
                        :tabindex="disabled ? -1 : 0"
                        @click="disabled ? '' : toggleDropdown = !toggleDropdown"
                        class="border flex items-center w-full border-gray-400 py-2 px-4 rounded"
                        :class="disabled ? 'bg-gray-300 cursor-not-allowed' : ''"
                    >
                        <span class="flex-1 text-left">
                            <span v-for="(displayText, index) in displayTexts" :key="index" class="inline-flex">
                                <template v-if="multiple">
                                    <span v-if="displayText" class="bg-gray-200 flex mr-2 items-center rounded px-2 p-1">
                                        <span>{{ displayText }}</span>
                                        <button @click.stop="deleteMultiple(index)" type="button" class="ml-1 text-xs">x</button>
                                    </span>
                                </template>
                                <span v-else>{{ displayText }}</span>
                            </span>
                        </span>

                        <span class="ml-auto">
                            <svg class="h-4 w-4 stroke-2" viewBox="0 0 24 24" stroke="currentColor" stroke-linejoin="round" stroke-linecap="round" fill="none">
                                <path d="M18 8L12 2L6 8" />
                                <path d="M18 16L12 22L6 16" />
                            </svg>
                        </span>
                    </button>

                    <ul @click="selectedOption" v-if="toggleDropdown" class="dropdown-options w-full mt-1 z-10 bg-white border border-gray-500 absolute overflow-y-scroll rounded shadow text-gray-700">
                        <li v-if="isEmpty" value="" class="px-2 py-1 hover:bg-gray-300 cursor-pointer">
                            {{ empty }}
                        </li>

                        <template v-for="(optionLabel, optionValue) in options">
                            <li :key="optionValue" :value="optionValue" class="px-2 py-1 hover:bg-gray-300 cursor-pointer">
                                {{ optionLabel }}
                            </li>
                        </template>
                    </ul>
                </div>

                <div v-if="hasError" class="text-sm ml-1 text-red-500 absolute">
                    {{ error }}
                </div>

                <span v-for="(val, index) in modelValue" :key="index">
                    <input type="hidden" :name="name" :value="val" />
                </span>
            </div>
        </slot>
    </div>
</template>

<script>
    import { findKey, includes } from 'lodash';

    export default {
        props: {
            label: {
                type: String,
                default: null,
            },
            currentValue: {
                type: [Array, String, Number],
                default: null,
            },
            options: {
                type: [Array, Object],
                default: () => []
            },
            hasError: {
                type: String,
                default: null,
            },
            name: {
                type: String,
                default: null,
            },
            disabled: {
                type: Boolean,
                default: false,
            },
            multiple: {
                type: Boolean,
                default: false,
            },
            isEmpty: {
                type: Boolean,
                default: false,
            },
            empty: {
                type: String,
                default: 'Please select',
            },
        },

        data() {
            return {
                modelValue: [],
                displayTexts: [],
                toggleDropdown: false,
            };
        },

        methods: {
            deleteMultiple(index) {
                const currentText = this.displayTexts[index];
                const optionValue = findKey(this.options, function (ele) {
                    return ele == currentText;
                });
                const valueIndex = findKey(this.modelValue, function (ele) {
                    return ele == optionValue;
                });

                this.modelValue.splice(valueIndex, 1);
                this.displayTexts.splice(index, 1);
            },

            selectedOption(event) {
                const val = event.target.getAttribute('value');

                if (!this.alreadySelected(val)) {
                    var findVal = false;

                    if (this.multiple) {
                        if (!includes(this.modelValue, val)) {
                            findVal = true;
                            this.modelValue.push(val);
                        }
                    } else {
                        findVal = true;

                        this.modelValue = [];
                        this.displayTexts = [];
                        this.modelValue.push(val);
                    }

                    if (findVal) {
                        this.displayTexts.push(this.options[val]);
                    }
                }

                this.toggleDropdown = !this.toggleDropdown;
            },

            alreadySelected(val) {
                const findIndex = this.modelValue.findIndex((el) => {
                    return el == val;
                });

                return findIndex >= 0;
            },
        },

        watch: {
            modelValue(value) {
                this.$emit('input', value);
            },
        },

        mounted() {
            if (this.isEmpty) {
                this.options[''] = this.empty;
            }

            if (this.multiple) {
                if (this.currentValue.length > 0) {
                    this.currentValue.forEach((ele) => {
                        this.displayTexts.push(this.options[ele]);
                        this.modelValue.push(ele);
                    });
                }
            } else {
                this.displayTexts.push(this.options[this.currentValue]);
                this.modelValue.push(this.currentValue);
            }
        },
    };
</script>

<style scoped>
    .dropdown-options {
        max-height: 9rem;
    }
</style>
