<template>
    <div>
        <div v-if="filterable" class="flex items-center">
            <div class="ml-auto">
                <div class="mb-2 relative flex sm:flex-row flex-col">
                    <div class="block relative">
                        <span class="h-full absolute inset-y-0 left-0 flex items-center pl-2">
                            <svg viewBox="0 0 24 24" class="h-4 w-4 fill-current text-gray-500">
                                <path d="M10 4a6 6 0 100 12 6 6 0 000-12zm-8 6a8 8 0 1114.32 4.906l5.387 5.387a1 1 0 01-1.414 1.414l-5.387-5.387A8 8 0 012 10z"></path>
                            </svg>
                        </span>

                        <!-- search input -->
                        <input placeholder="Search" @change.prevent="changeFilter" @keydown.enter.prevent="changeFilter" class="appearance-none rounded-l border-2 border=gray-400 block pl-8 pr-6 py-2 w-full bg-white text-sm placeholder-gray-400 text-gray-700 focus:bg-white focus:placeholder-gray-600 focus:text-gray-700 focus:outline-none" />
                    </div>

                    <div class="flex flex-row mb-1 sm:mb-0">
                        <button type="button" class="px-2 border-none rounded-r active:outline-none flex py-2 bg-gray-400">
                            <svg class="h-6 pt-1 w-6 twxt-gray-600" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M12 12l8-8V0H0v4l8 8v8l4-4v-4z" fill-rule="evenodd" />
                            </svg>
                            <span class="ml-1 text-gray-700">Filter</span>
                        </button>
                    </div>

                    <div v-if="isFiltered" class="absolute z-10 right-0" style="top: 100%;">
                        <div class="border-3 rounded-md text-white p-3 w-64 bg-gray-500 border-gray-800" style="top: 100%;">
                            <ul>
                                <li></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'ax-table',

        props: {
            columns: {
                type: Array,
                default: () => { []; },
            },

            items: {
                type: Array,
                default: () => { []; },
            },

            from: {
                type: Number,
                default: 0,
            },

            to: {
                type: Number,
                default: 0,
            },

            total: {
                type: Number,
                default: 0,
            },

            filterable: {
                type: Boolean,
                default: false,
            },
        },

        data() {
            return {
                isFiltered: false,
            };
        },

        methods: {},

        watch: {
            columns(newColumns) {
                //
            },
        },
    };
</script>
