<template>
    <div class="flex">
        <ul role="tablist" class="w-32 border-r border-gray-200">
            <li v-for="(tab, i) in tabs"
                :key="i"
                :class="{ 'is-active': tab.isActive }"
                class="mt-3 border-b border-gray-200"
                role="presentation"
                v-show="tab.isVisible"
            >
                <a @click="selectTab(tab.id)" :href="'#' + tab.id" class="bg-white inline-block py-2 px-4 text-blue-dark font-semibold" role="tab">
                    {{ tab.name }}
                </a>
            </li>
        </ul>

        <div class="flex-1 p-4">
            <slot />
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tabs: [],
                activeTabId: '',
                activeTabIndex: 0,
                lastActiveTabId: '',
            };
        },

        created() {
            this.tabs = this.$children;
        },

        mounted() {
            if (this.tabs.length) {
                this.selectTab(this.tabs[0].id);
            }
        },

        methods: {
            findTab(id) {
                return this.tabs.find((tab) => tab.id === id);
            },
            selectTab(id) {
                const selectedTab = this.findTab(id);
                if (!selectedTab) {
                    return;
                }

                if (this.lastActiveTabId === selectedTab.id) {
                    this.$emit('clicked', { tab: selectedTab });
                    return;
                }

                this.tabs.forEach((tab) => {
                    tab.isActive = tab.id === selectedTab.id;
                });
                this.$emit('changed', { tab: selectedTab });
                this.activeTabId = selectedTab.id;
                this.activeTabIndex = this.getTabIndex(id);
                this.lastActiveTabId = this.activeTabId = selectedTab.id;
            },
            setTabVisible(id, visible) {
                const tab = this.findTab(id);
                if (!tab) {
                    return;
                }

                tab.isVisible = visible;

                if (tab.isActive) {
                    tab.isActive = visible;

                    this.tabs.every((tab) => {
                        if (tab.isVisible) {
                            tab.isActive = true;

                            return false;
                        }

                        return true;
                    });
                }
            },
            getTabIndex(id) {
                const tab = this.findTab(id);

                return this.tabs.indexOf(tab);
            },
            getTabId(index) {
                const tab = this.tabs.find((tab) => this.tabs.indexOf(tab) === index);
                if (!tab) {
                    return;
                }

                return tab.id;
            },
            getActiveTab() {
                return this.findTab(this.activeTabId);
            },
            getActiveTabIndex() {
                return this.getTabIndex(this.activeTabId);
            },
        },
    };
</script>
