<template>
    <label :class="[!disabled ? 'cursor-pointer' : 'cursor-not-allowed']">
        <div
            class="rounded-full transition-colors duration-300 w-10 h-6 p-1"
            :class="[
                {
                    'bg-gray-300 dark:bg-gray-600': disabled && !checked,
                    'bg-gray-400 dark:bg-gray-400': disabled && checked,
                    'bg-gray-200 dark:bg-gray-600': !disabled && !checked,
                    'bg-primary-200': !disabled && checked,
                }
            ]"
        >
            <!-- input -->
            <input
                :id="id"
                :aria-checked="checked ? 'true' : 'false'"
                :aria-disabled="disabled ? 'true' : null"
                :disabled="disabled"
                :name="name"
                :required="required"
                type="checkbox"
                class="hidden"
            />

            <div
                class="rounded-full shadow transform transition duration-200 w-4 h-4"
                :class="[
                    {
                        'translate-x-full': checked,
                        'bg-gray-200 dark:bg-gray-200': disabled,
                        'bg-white': !disabled && !checked,
                        'bg-primary-500': !disabled && checked,
                    }
                ]"
            />
        </div>
    </label>
</template>

<script>
    export default {
        model: {
            prop: 'option',
            event: 'change',
        },

        props: {
            disabled: {
                type: Boolean,
                default: false,
            },
            id: {
                type: String,
                default: null,
            },
            option: {
                type: Boolean,
                default: false,
            },
            name: {
                type: String,
                default: null,
            },
            required: {
                type: Boolean,
                default: false,
            },
        },

        computed: {
            checked: {
                get() {
                    return this.option;
                },
                set(val) {
                    this.$emit('change', val);
                },
            },
        },
    };
</script>
